/* google fonts roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */
body {
    /* background: rgb(49, 49, 49); */
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 5rem 0;
}





/* nav bar */
.nav_bar {
    background-color: rgba(19, 18, 18, 0.5);
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .5s;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;

}

.logo {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    width: 7rem;

}

.nav_container {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: .5rem;
}

.nav_item {
    margin-left: .5rem;
}

.nav_link {
    font-size: .7rem;
    color: #fff;
    text-transform: uppercase;
}

/* hero section */
.hero_section {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background: url('../img/hero-np-sd1.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.hero_title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 1.5rem 0;
}

.hero_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

}

.hero_btn_link {
    display: block;
    padding: 1rem 1.5rem;
    min-width: 225px;
    transition: .3s;
    border-radius: 5px;
    margin: .6rem;
    text-align: center;
}

.hero_btn_link-nocolor {
    border: 2px solid rgb(211, 211, 211);
    color: rgb(216, 214, 214);

}

.hero_btn_link-nocolor:hover {
    border-color: #ffffff;
    color: rgb(255, 255, 255);
}

.hero_btn_link-color {
    color: rgb(255, 255, 255);

    background: linear-gradient(45deg, #084aff, #4BDDFF);
    transition: .3s;

}

.hero_btn_link-color:hover {
    background: linear-gradient(45deg, #ffffff, #e0e0e0);
    color: #000;
}

.mous_container {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.mouse_link {
    color: rgb(218, 218, 218);
    font-size: 1.5rem;
}

.mouse_link:hover {
    color: #fff;
}

/* awesome section */
.awesome_section {
    background: #F7F7F7;
}

.section_heading_container {
    text-align: center;
}

.section_title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #084aff;
}

.section_u_line {
    width: 5rem;
    margin: 2rem auto;
}

hr:not([size]).section_u_line {
    height: 2px;
}

.section_subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    color: #444444;
}

.mix_btn_container {
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mix_btn {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: .3rem .8rem;
    font-size: .8rem;
    margin: 0 .4rem;
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
    background: #fff;
}

.mix_btn.pro {
    text-transform: uppercase;
    color: #084aff;
    position: relative;
}

.mix_btn.pro::after {
    content: "\f05a";
    position: absolute;
    font-size: 1rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: -12px;
    right: 3px;
}

.items_heading {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.img_container{
    margin-bottom: 4rem;
    padding: 0 1.5rem;
}
.items_heading{
    margin-bottom: 1.5rem;
}
.img_content {   
    background-repeat:  no-repeat;
    background-position:  top;
    background-size: cover;

    width: 100%;
    height: 55vw;
    transition: .5s;
    position: relative;
    overflow: hidden;
    box-shadow:  0 0 16px rgba(0, 0, 0, 0.5);
    
}

.img_pro::after{
position: absolute;
content: 'PRO';
background-color: red;
color: #fff;
display: block;
text-align: center;
width: 50%;
font-size: .8rem;
transform: rotate(45deg);
right: -42px;
top: 12px;

}

.img1{
    background-image: url('../img/magazine.jpg') ;
}

.img2{
    background-image: url('../img/old-fashioned.jpg') ;
}

.img3{
    background-image: url('../img/pandemic_pro.jpg') ;
}

.img4{
    background-image: url('../img/pulses_pro.jpg') ;
}

.img5{
    background-image: url('../img/retro_blog_pro.jpg') ;
}

.img6{
    background-image: url('../img/royal_pub_pro.jpg') ;
}

.img7{
    background-image: url('../img/school_pro.jpg') ;
}

.img8{
    background-image: url('../img/scuba_pro.jpg') ;
}

.img9{
    background-image: url('../img/showcase.jpg') ;
}

.img10{
    background-image: url('../img/smart_app.jpg') ;
}

.img11{
    background-image: url('../img/sports_pro.jpg') ;
}

.img12{
    background-image: url('../img/style_pro.jpg') ;
}

.img13{
    background-image: url('../img/tech-pro.jpg') ;
}

.img14{
    background-image: url('../img/tech.jpg') ;
}

.img15{
    background-image: url('../img/technology.jpg') ;
}

.img16{
    background-image: url('../img/travel-pro.jpg') ;
}

.img17{
    background-image: url('../img/video-pro.jpg') ;
}

.img18{
    background-image: url('../img/video.jpg') ;
}

.img19{
    background-image: url('../img/animals-pro.jpg') ;
}

.img20{
    background-image: url('../img/animals.jpg') ;
}

.img21{
    background-image: url('../img/arette_pro.jpg') ;
}

.img22{
    background-image: url('../img/art-pro.jpg') ;
}

.img23{
    background-image: url('../img/art.jpg') ;
}

.img24{
    background-image: url('../img/artist_pro.jpg') ;
}

.img25{
    background-image: url('../img/baby_pro.jpg') ;
}

.img26{
    background-image: url('../img/beauty_pro.jpg') ;
}

.img27{
    background-image: url('../img/black_pro.jpg') ;
}

.img28{
    background-image: url('../img/blog-baby.jpg') ;
}
.img29{
    background-image: url('../img/blog-beauty.jpg') ;
}

.img_container:hover .img_content{
    background-position: bottom;
}
.img_item {
    position: absolute;
    display: block;
    width: 100%;
    height: 120%;
}



@media screen and (min-width:540px) {
    .hero_btn_container {
        flex-flow: row;
    }
}

@media screen and (min-width:768px) {


    .nav_wrapper {
        flex-flow: row nowrap;
    }

    .nav_container {

        margin-bottom: 0;
    }

    .nav_item {
        margin-left: 1.5rem;
    }

    .nav_link {
        font-size: .9rem;

    }

    /* hero section */
    .hero_title {

        font-size: 3rem;

    }

    /* awesome section */

    .section_title {
        font-size: 3rem;
    }

    .section_subtitle {
        font-size: 1.8rem;
    }

    .mix_btn {
        padding: .3rem .9rem;
        font-size: .9rem;
    }

    .img_content{
       height: 22vw;
    }

}

@media screen and (min-width:992px) {
    .section_subtitle {
        font-size: 2rem;
    }

    .section_title {
        font-size: 3.5rem;
    }

    .img_content{
        height: 19vw;
     }
}