
/* google fonts roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
body {
    background: rgb(49, 49, 49);
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}






/* nav bar */
.nav_bar {
    background-color: rgba(19, 18, 18, 0.5);
    position: fixed;
    width: 100%;
    z-index: 2;
     top: 0;
    left: 0;
    transition: .5s;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;

}

.logo {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    width: 7rem;

}

.nav_container {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: .5rem;
}

.nav_item {
    margin-left: .5rem;
}

.nav_link {
    font-size: .7rem;
    color: #fff;
    text-transform: uppercase;
}

/* hero section */
.hero_section{
    padding-top: 8rem;
    padding-bottom: 5rem;
    background: url('../img/hero-np-sd1.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.hero_title{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 1.5rem 0;
}
.hero_btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
}
.hero_btn_link{
    display: block;
    padding: 1rem 1.5rem;
    min-width: 225px;
   transition: .3s;
    border-radius: 5px;
    margin: .6rem;
    text-align: center;
}
.hero_btn_link-nocolor{
    border: 2px solid rgb(211, 211, 211);
    color: rgb(216, 214, 214);

}
.hero_btn_link-nocolor:hover{
    border-color: #ffffff;
    color: rgb(255, 255, 255);
}
.hero_btn_link-color{
    color: rgb(255, 255, 255);

    background: linear-gradient(45deg,#084aff,#4BDDFF);
   transition: .3s;

}
.hero_btn_link-color:hover{
    background: linear-gradient(45deg,#ffffff,#e0e0e0);
    color: #000;
}

.mous_container{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.mouse_link{
    color: rgb(218, 218, 218);
    font-size: 1.5rem;
}
.mouse_link:hover{
    color: #fff;
}

@media screen and (min-width:540px) {
    .hero_btn_container{
        flex-flow: row;
    }
}

@media screen and (min-width:768px) {

    .nav_wrapper {
        flex-flow: row nowrap;
    }

    .nav_container {

        margin-bottom: 0;
    }

    .nav_item {
        margin-left: 1.5rem;
    }

    .nav_link {
        font-size: .9rem;
       
    }

    /* hero section */
    .hero_title{
        
        font-size: 3rem;
        
    }
   
}